<div class="footer_bg">
     <div class="footer_main">
	      <div class="footer_left">
		  <a href="#">FAQ</a> | <a href="#">Contact</a> | <a href="#">Blog</a> | <a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a>
		  </div>
		  <div class="agent_text">Agent Refund Link:</div>
		  <div class="footer_right">
		  <ul class="social">
		      <li><a href="#"><%= image_tag "twitter.jpg" %></a></li>
			  <li><a href="#"><%= image_tag "face_book.jpg" %></a></li>
			  <li><a href="#"><%= image_tag "like_people.jpg" %></a></li>
		  </ul>
		   </div>
	 </div>
</div>